*{margin:0;padding:0}
body{
	background-color:#4E4E4E;
}
.main_wrap{
	width:100%;
}
.wrap{
	width:960px;
	display:block;
	margin:0 auto;
}
p{
	color:cyan;
	font-weight:bold;
	font-family: 'Merienda', cursive;
}
div{
	color:cyan;
	font-weight:bold;
	font-family: 'Merienda', cursive;
}
blockquote{
	background:#2a2828;
	margin-left:50px;
	padding:10px;
	padding-left:30px;
	border-left:2px solid orange;
}
.header_bg:hover{
	background:#222222;
	transition:4s all ease;
}
.header_bg{
	background:black;
	border-bottom:4px solid orange;
}
#header{
	background-color:black;
	padding:15px;
	border-left:2px solid #FF2469;
	border-right:2px solid cyan;
	border-top:2px solid #5600ff;
}
#header:hover{
	transition:4s all ease;
	animation-iteration-count:40;
	border-left:2px solid cyan;
	border-right:2px solid #FF2469;
	border-top:2px solid yellow;
}
#header h2:hover{
	color:cyan;
}
#header h2{
	color:orange;
	font-family: 'Merienda', cursive;
}
#header p:hover{
	color:blue;
}
#header p{
	color:red;
	font-family: 'Merienda', cursive;
}
.nav_bg:hover{
	background:#222222;
	transition:4s all ease;
}
.nav_bg{
	background:black;
	border-bottom:4px solid orange;
}
#nav{
	background-color:black;
	height:38px;
	border-right:2px solid orange;
	border-left:2px solid orange;
}
#nav:hover{
	transition:4s all ease;
	animation-iteration-count:40;
	border-right:2px solid red;
	border-left:2px solid lime;
}
#nav ul{
	background-color:#9C9C9C;
	list-style-type:none;
	z-index:999;
}
#nav ul li{
	float:left;
	border-right:2px solid #FF3D00;
}
#nav ul li:last-child{
	border:none;
}
#nav ul li a{
	text-decoration:none;
	color:#FF2469;
	display:block;
	padding:10px 20px;
	font-family:arial;
	-moz-transition:0.2s all ease;
	-webkit-transition:0.2s all ease;
	transition:0.2s all ease;
}
#nav ul li a:hover{
	color:#FF937E;
	background:#4E4E4E;
}
#nav ul li{
	position:relative;
}
#nav ul li ul{
	position:absolute;left:-99999px;
}
#nav ul li:hover ul{
	left:0;
}
#nav ul li ul li:first-child{
	border-top:4px solid red
}
#nav ul li ul li{
	float:none;
	border-right:none;
	border-bottom:2px solid red;
	width:200px;
	position:relative;
	background-color:black;
}
#nav ul li ul li ul{
	position:absolute;
	top:-999999px;
}
#nav ul li ul li:hover ul{
	top:-1px;
	left:200px;
}
#nav ul li ul li ul li{
	border-left:1px solid red;
}
#nav ul li ul li ul li:first-child{
	border-top:none;
}
#nav ul li ul li ul li:last-child{
	border-left:1px solid red;
}
#slider_wrapper{
	border-right:2px solid blue;
	border-left:2px solid red;
}
.slider_bg{
	background:black
}
.slider_bg:hover{
	background:#222222;
	transition:4s all ease;
}
#slider_wrapper:hover{
	transition:4s all ease;
	animation-iteration-count:40;
	border-right:2px solid red;
	border-left:2px solid blue;
}
.content_bg:hover{
	background:#222222;
	transition:4s all ease;
}
.content_bg{
	background:black;
}
#content_wrapper{
	background-color:black;
	padding:10px;
	overflow:hidden;
	border-right:2px solid blue;
	border-left:2px solid red;
	border-bottom:4px solid orange;
}
#content_wrapper:hover{
	transition:4s all ease;
	animation-iteration-count:40;
	border-right:2px solid red;
	border-left:2px solid blue;
	border-bottom:4px solid #5600ff;
}
#content{
	width:620px;
	margin-right:20px;
	float:left;
}
#content h2{
	color:#1ccb1c;
	font-family:arial;
	margin-bottom:5px;
	margin-top:10px;
	font-size:23px;
}
#content p{
	margin:15px 0;
	font-size:15px;
}
#content img{
	width:450px;
}
#content figure{
	width:450px;
	padding:10px;
	background:#4E4E4E;
	margin:0 auto;
	display:block;
}
#content figcaption{
	text-align:center;
	color:lime;
	font-weight:bold;
}
#content h3{
	color:red;
	font-family:arial;
	margin-bottom:5px;
	margin-top:10px;
	font-size:20px;
}
#sidebar{
	width:295px;
	float:left;
}
#sidebar:hover{
	width:204px;
	transition:4s all ease;
	animation-iteration-count:40;
}
#sidebar ul{

}
#sidebar ul li{
	border-bottom:2px solid red;
	border-left:2px solid #ff4e6d;
	margin-bottom:3px;
}
#sidebar ul li:last-child{
	border-bottom:none
}
#sidebar ul li a{
	text-decoration:none;
	color:#d3d31d;
	padding:3px;
	display:block;
}
#sidebar ul li a:hover{
	color:cyan;
}
#sidebar h2{
	color:cyan;
}
#sidebar h2:hover{
	color:red;
}
#main_article_single{
	margin-bottom:25px;
	border-bottom: 1px solid red;
	overflow:hidden;
	
}

#main_sidebar{
	border-bottom:2px solid orange;
	margin-bottom: 25px;
	overflow:hidden;
	padding-bottom:5px;
}
#main_sidebar ul li{
	padding-left:10px;
}
#main_sidebar h2{
	margin-bottom:10px;
}
#imgp_wrap img{
	width:75px;
	height:75px;
	background:white;
	border:1px solid #ddd;
	padding:3px;
	margin-right:10px;
	float:left;
}
#imgp_wrap p{
	float:left;
	width:500px;
	margin-top:0;
}
#imgp_wrap{
	margin-top:10px;
}
#fig_img img{
	width:450px;
}
.footer_bg:hover{
	background:#222222;
	transition:4s all ease;
}
.footer_bg{
	background:black;
}
#footer{
	background-color:black;
	padding:10px;
	text-align:center;
	border-top:4px solid orange;
	border-right:2px solid cyan;
	border-left:2px solid #FF2469;
	border-bottom:2px solid #5600ff;
}
#footer:hover{
	border-right:2px solid #FF2469;
	border-left:2px solid cyan;
	border-bottom:2px solid orange;
	border-top:4px solid #5600ff;
	transition:4s all ease;
	animation-iteration-count:40;
}
#footer p:hover{
	color:red;
}
#footer p{
	color:cyan;
}
